.image-gallery{
    max-height: 100%;
    max-width: 100%;
}

.div-image-gallery{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-angle-right {
    content: "\f105";
}

.carousel-arrow-color-green {
    color: #88744a;
}

.home-gallery-preview .carousel-indicators {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.home-gallery-preview h1 {
    text-align: center;
}

.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
    background-color: #444;
}

.home-gallery-preview .border {
    border: 5px solid #dee2e6!important;
}

.home-gallery-preview .border-black {
    border-color: black!important;
}

.home-gallery-preview .img-border {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;"
}