@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
    }
}


.random-photo-carousel .controls {
    text-align: center;
}

.random-photo-carousel .controls .controls-top {
    display: inline-flex;
}

.random-photo-carousel .div-with-background-image {
    background-size: contain;
    background-repeat: no-repeat;
    display:inline-block;
    text-align: center;
    background-origin: border-box;
}

.random-photo-carousel .div-with-background-image img {
    max-height: 300px;
    visibility: hidden;
    max-width: 100%;
}