@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
    }
}

.random-photo-carousel .carousel-custom-card {
    flex-direction: column;
    min-width: 0;
    width: 100%;
    word-wrap: break-word;
    height: 300px;
}

.random-photo-carousel .carousel-custom-card img {
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}


.random-photo-carousel .controls {
    text-align: center;
}

.random-photo-carousel .controls .controls-top {
    display: inline-flex;
}

.random-photo-carousel .border {
    border: 5px solid #dee2e6!important;
}

.random-photo-carousel .border-dark {
    border-color: black!important;
}